<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - MERNRegisterApp</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Include Navbar -->
    

    <!-- Main Content -->
    <section>
        {{> navbar}}
        <h1 style="margin-top:30px">Welcome to MERNRegisterApp</h1>
        <p>Your one-stop solution for seamless user registration and authentication!</p>
        <a href="/login" class="btn" style="text-align: center">Login</a>
        <a href="/signup" class="btn" style="text-align: center">Signup</a>
        <a href="/secret" class="btn" style="text-align: center; margin-bottom: 200px">secret</a>
        {{> footer}}
    </section>
</body>
</html>
