<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Password</title>
</head>
<body>
    <section>
<form action="/forgot-password/reset/{{token}}" method="POST">
        <label for="newPassword">New Password:</label>
        <input type="password" name="newPassword" required>
        <label for="confirmNewPassword">Confirm Password:</label>
        <input type="password" name="confirmNewPassword" required>
        <button type="submit">Reset Password</button>
    </form>
    </section>
    
</body>
</html>
