<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret page - MERNRegisterApp</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Include Navbar -->
    

    <!-- Main Content -->
    <section class="home">
        {{> navbar}}
        <h1>Welcome to Secret page MERNRegisterApp</h1>
        <p>Your one-stop solution for seamless user registration and authentication!</p>
        <a href="/logout" class="btn">logout</a>

        {{>map}}
    </section>
</body>
</html>
